extends layout

block content
  h1= title
  p You have arrived at the domain: #{hostname}
  p The path you requested is: #{path}
  p Here are all of the test subdomains:
  ul
    li
      a(href="http://main.cliquesads.com") Main Site
    li
      a(href="http://us.cliquesads.com") US Site
    li
      a(href="http://eu.cliquesads.com") EU Site
    li
      a(href="http://au.cliquesads.com") AU Site